<script type="text/javascript">

    $(document).ready(function () {

        var cadastro = new AppCadastro();

        cadastro.controller = '<?php echo $this->controller; ?>';

        cadastro.init();
        
        $(".controller-check").change(function(){
            var id = $(this).attr("id");
            
            if($(this).is(":checked")){
                $("."+id).attr("checked","checked");
            }else{
                $("."+id).removeAttr("checked");
            } 
            
        });
        
        Geral.efeitos();
        
    });

/**
 * carregar_permissoes
 */
function carregar_permissoes() {

    var idPerfil = $("#id_perfil").val();
    
   $.fn.jAlert.defaults.confirmQuestion = 'Deseja realmente carregar as permissões do perfil selecionado?';
    confirm(function(e,btn){
       
        $("#div-form").LoadingOverlay("show");
            
            $.ajax({
                url:'/usuario/get-permissoes',
                data:{id_perfil:idPerfil},
                dataType:"json",
                type:"post",
                success:function(json){

                    $("#div-form").LoadingOverlay("hide", true);
                    
                    //desmarca todos
                    $(".action_item").removeAttr("checked");
                    
                    //marca as permissões do perfil.
                    $.each(json.permissoes, function( index, value ) {
                        
                        if(value.allowed){
                            $("#action-"+value.id_action).attr("checked","checked");
                        }
                        
                    });
                    

                },
                error:function(ab,cd,InvalidJSON){

                    $("#div-form").LoadingOverlay("hide", true);
                    
                    errorAlert(InvalidJSON);
                }
            });
            
    }, 
    function(e,btn){
        
    });
        
}

</script>
<div class="painel" align="center">

    <form name="form-cadastro" id="form-cadastro" method="post" action="/<?php echo $this->controller; ?>/salvar">

        <input type="hidden" name="id" value="<?php echo $this->r['id']; ?>">

      
        <div class="container_12">

            <div class="grid_2" >
                <label>Ativo</label>
                <input type="checkbox"  <?php echo ($this->r['ativo'] > 0 || !$this->r['id'] ? 'checked=""' : '') ?> name="ativo" value="1" />

            </div>    

            <div class="grid_4">
                <label>Nome</label>
                <input type="text"   required name="nome" id="nome" value="<?php echo $this->r['nome']; ?>" size="40"  />
            </div>
            <div class="grid_4">
                <label>Email</label>
                <input type="text"  required name="email" id="email" value="<?php echo $this->r['email']; ?>" size="40"  />
            </div>
        </div>


        <div class="container_12">



            <div class="grid_4">
                <label>Gestor</label>
                <input type="text"   required name="gestor" id="gestor" value="<?php echo $this->r['gestor']; ?>" size="20"  />
            </div>
            <div class="grid_4">
                <label>Entidade</label>
                <input type="text"   required name="entidade" id="entidade" value="<?php echo $this->r['entidade']; ?>" size="40"  />
            </div>
            <div class="grid_4">
                <label>Departamento</label>
                <input type="text"   required name="departamento" id="departamento" value="<?php echo $this->r['departamento']; ?>" size="40"  />
            </div>     
             
        </div>
        
        <div class="container_12">
            <div class="grid_4">
                <label>Senha</label>
                <input type="password" name="senha" id="senha" value="" size="20"  />
            </div>  
            <div class="grid_4">
                <label>Repetir Senha</label>
                <input type="password" name="senha_r" id="senha_r" value="" size="20"  />
            </div>  
        </div>
        
        
        <div class="container_12">
            <div class="grid_4">
                <label>Usuário</label>
                <input type="text"  required name="usuario" id="usuario" value="<?php echo $this->r['usuario']; ?>" size="40"  />
            </div>
            
            <div class="grid_4">
                <label>Perfil</label>
                <select id="id_perfil" name="id_perfil">
                    <?php foreach($this->perfils as $perfil):?>
                    <option <?php echo ($perfil->id == $this->r['id_perfil'] ? "selected" : "")?> value="<?php echo $perfil->id;?>"><?php echo $perfil->nome;?></option>
                    <?php endforeach;?>
                </select>
            </div>
            
            <div class="grid_4">
                <label>&nbsp;</label>
                <input type="button" value="Carregar Permissões do perfil" onclick="carregar_permissoes();" class="ui-button"/>
            </div>
            
        </div>
        
        <br />
        
        
        <table border="0">
            <thead>
                <tr>
                    <th>Controller</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                <?php foreach ($this->permissoes['modules'] as $idModule => $rModule):?>
                <tr>
                    <td colspan="2">
                            <?php echo $rModule['modulo_desc']; ?>
                    </td>
                </tr>
                <?php foreach ($this->permissoes['controllers'][$idModule] as $idController => $rController):?>
                <tr>
                    <td>
                        <input type="checkbox" id="controller-<?php echo $rController['controller_id']?>" class="controller-check" name="controller_item[<?php echo $rController['controller_id']?>]"  />
                        <strong>
                            <?php echo $rController['controller_desc']?>
                        </strong>
                    </td>
                    <td>
                        
                        <?php foreach ($this->permissoes['actions'][$idModule][$idController] as $idAction => $rAction):?>
                            <label style="width: 150px; float: left; cursor: pointer;" class="div-action" id_action="<?php echo $rAction['action_id']?>">
                                <input type="checkbox" <?php echo (isset($this->permissoesSelecionadas[$idAction]['allowed']) && $this->permissoesSelecionadas[$idAction]['allowed'] ? "checked" : ""); ?> value="true" id="action-<?php echo $rAction['action_id']?>" class="controller-<?php echo $rController['controller_id']?> action_item" name="action_item[<?php echo $rAction['action_id']?>]"  />
                                <?php echo $rAction['action_desc']?>
                            </label>
                        <?php endforeach;?>
                    </td>
                </tr>
                <?php endforeach;?>
                
                <?php endforeach;?>
                
            </tbody>
        </table>

        
        <div class="container_12">
            <div class="grid_2">
                <label>&nbsp;</label>
                <input type="submit" value="Salvar" name="Salvar" class="ui-button"/>
            </div>
            <div class="grid_2">
                <label>&nbsp;</label>
                <input type="button" value="Pesquisar" name="Pesquisar" onclick="cadastro.pesquisar();" class="ui-button"/>
            </div>
        </div>    

    </form>

</div>

