<script type="text/javascript">

    $(document).ready(function () {

        var cadastro = new AppCadastro();

        cadastro.controller = '<?php echo $this->controller; ?>';
        cadastro.idForm = "form-alterar-senha";
        cadastro.init();
        
        Geral.efeitos();
        
    });

</script>

<div id="content" class="ui-corner-bottom">
    <h1>Alterar Senha</h1>
    
<div class="painel" align="center">

    <form name="form-alterar-senha" id="form-alterar-senha" method="post" action="/<?php echo $this->controller; ?>/alterar-senha">

        <input type="hidden" name="id" value="<?php echo $this->id_usuario; ?>">

      
        <div class="container_12">

            <div class="grid_4">
                <label>Nome</label>
                <input type="text"  name="nome_usuario" id="nome_usuario" value="<?php echo $this->nome; ?>" readonly/>
            </div>
            
            <div class="grid_4">
                <label>Login</label>
                <input type="text"  name="login_usuario" id="login_usuario" value="<?php echo $this->login; ?>"   readonly/>
            </div>
            
            <div class="grid_4">
                <label>Email</label>
                <input type="text"  name="email_usuario" id="email_usuario" value="<?php echo $this->email; ?>"   readonly/>
            </div>
           
        </div>
        
        <div class="container_12">
            
            <div class="grid_4">
                <label>Senha Antiga</label>
                <input type="password" required name="senha_antiga_usuario" id="senha_antiga_usuario" />
            </div>
            
            <div class="grid_4">
                <label>Nova Senha</label>
                <input type="password" required name="senha_nova_usuario" id="senha_nova_usuario" />
            </div>
            
            <div class="grid_4">
                <label>Confirme a Nova Senha</label>
                <input type="password" required name="senha_confirm_usuario" id="senha_confirm_usuario" />
            </div>
            
        </div>    

        <br />
        
        <div class="container_12">
            <div class="grid_2">
                <label>&nbsp;</label>
                <input type="submit" value="Salvar" name="Salvar" class="ui-button"/>
            </div>
            
        </div>    

    </form>

</div>
    
</div>