<div id="content" class="ui-corner-bottom">
    <h1>Principal</h1>

    <div class="pages index">

        <h2 class="subtitulo" align="center">Acesso Rápido</h2>

        <div class="painel">
            <ul align="center">
               
                <?php if($this->usuarioModel->isAllowed("usuario", "index")): ?>
                <li>
                    <a href="/usuario">
                        <div class="dashmenu">
                            <img src="css/imagens/alocacao.jpg" alt="Verificar histórico" />
                            <span class="tit-item">Usuario</span>
                        </div>
                    </a>
                </li>
                <?php endif;?>
                
                <?php if($this->usuarioModel->isAllowed("perfil", "index")): ?>
                <li>
                    <a href="/perfil">
                        <div class="dashmenu">
                            <img src="css/imagens/alocacao.jpg" alt="Perfil" />
                            <span class="tit-item">Perfil</span>
                        </div>
                    </a>
                </li>
                <?php endif;?>
                
            </ul>
        </div>

        <div class="clear"></div>
    </div>	

</div>