﻿
body {
    text-align: left;
    min-width: 1000px;
    background-attachment: fixed;
    background-image: -moz-linear-gradient(top, rgb(230,230,230) 0%, rgb(255,255,255) 100%);
    background-image: -webkit-gradient(
 linear,
 left top,
 left top,
 from(#E6E6E6),
 to(#FFFFFF)
 );
}


ooobody {background: white;
	border: 0;
	margin:0;
	padding:0;
}
 
/* Main Dark Menu Unordered List First Level Style */

menu li a{
	display: inline;
	text-decoration: none;
	font-family: Arial, Sans-Serif;
	font-size: 20px;
	float: left;
	color: white;
	list-style: none;
	margin-right: 20px;
	margin-left: 20px;
	
}


 
 #header a:hover{
	color: white;
	list-style: none;
}

#header {
	height: 90px;
    border-bottom: 1px solid #920B03;
	background: url('header-fundo.png') repeat-x left top;
}

#header-logo{
	float: left;
	
}

#header-info{
	font-size: 15px;
	float: right;
	width: 230px;
    height: 65px;
    position: absolute;
    right: 12px;
    top: 12px;
}

#cadastrar{
	color: white;
}

indice{
	background: #362f2d;
}



.espaco{
	
}

.pesquisar{
	margin-left: 10px;
	margin-right: 10px;
	float: right;
}

ul.dark_menu {

    list-style: none;

    padding: 0;

    font-family: Arial;

    font-size: 14px;

    line-height: 14px;

}

 

/* Clears all floated List Items */

ul.dark_menu:after {

    content: "";

    clear: both;

    display: block;

    overflow: hidden;

    visibility: hidden;

    width: 0;

    height: 0;

}

 

    /* First Level List Items Style */

    ul.dark_menu li {

        float: left;

        margin: 0 0 0 10px;

        position: relative;

    }

 

    /* First List Item in First Level Style */

    ul.dark_menu li:first-child {

        margin: 0;

    }