<script type="text/javascript">
    $(document).ready(function(){
        
        var cadastro = new AppCadastro();
    
        cadastro.controller = 'auth';
        cadastro.idForm = 'form-login';
        
        cadastro.beforeSave = function(formData, jqForm, options) { 
           
            $("#form-login").LoadingOverlay("show");
            
            return true; 
        }, 
        
        cadastro.ajaxFormError = function(objectResponse,cd,invalidJSON){
            //console.log(objectResponse);
            
            $("#form-login").LoadingOverlay("hide", true);
            alert("Erro: "+objectResponse.responseText);
        },     
        
        cadastro.afterSave = function(json, statusText, xhr, $form)  { 
            
            $("#form-login").LoadingOverlay("hide", true);
            
            if(json.msg.cod == 0){
                location.href = '/';
            }else{
                alert(json.msg.txt);
            }
            
            
            
        };
        
        cadastro.init();
    });
</script>

<div id="header"></div>
<div id="content" class="ui-corner-all">
    <form action="/auth/login" id="form-login" method="post" >
        <div style="display:none;">
            <input type="hidden" name="_method" value="POST" />
        </div>
        <div class="input text">
            <label for="UsuarioLogin">Login</label>
            <input name="login" type="text" />
        </div>
        <div class="input password">
            <label for="UsuarioSenha">Senha</label>
            <input type="password" name="senha" />
        </div>
        <div class="submit">
            <input type="submit" value="Enviar" />
        </div>
    </form>
   	
</div>
