<script type="text/javascript">
    
    $(document).ready(function(){
        
        var cadastro = new AppCadastro();
    
        cadastro.controller = '<?php echo $this->controller; ?>';

        cadastro.init();
        
         $(".controller-check").change(function(){
            var id = $(this).attr("id");
            
            if($(this).is(":checked")){
                $("."+id).attr("checked","checked");
            }else{
                $("."+id).removeAttr("checked");
            } 
            
        });
        
        Geral.efeitos();
        
        
    });
    
</script>
<div class="painel" align="center">

    <form name="form-cadastro" id="form-cadastro" method="post" action="/<?php echo $this->controller; ?>/salvar">

        <input type="hidden" name="id" value="<?php echo $this->r['id'];?>">
        
        <div class="container_12">
            
           
            
            <div class="grid_4">
                <label>Nome do Perfil</label>
                <input type="text" required name="nome" id="nome" value="<?php echo $this->r['nome'];?>" size="40"  />
            </div>

           
        </div>
        
        <br />
        
        
        <table border="0">
            <thead>
                <tr>
                    <th>Controller</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                 <?php foreach ($this->permissoes['modules'] as $idModule => $rModule):?>
                <tr>
                    <td colspan="2">
                            <?php echo $rModule['modulo_desc']; ?>
                    </td>
                </tr>
                <?php foreach ($this->permissoes['controllers'][$idModule] as $idController => $rController):?>
                <tr>
                    <td>
                        <input type="checkbox" id="controller-<?php echo $rController['controller_id']?>" class="controller-check" name="controller_item[<?php echo $rController['controller_id']?>]"  />
                        <strong>
                            <?php echo $rController['controller_desc']?>
                        </strong>
                    </td>
                    <td>
                        
                        <?php foreach ($this->permissoes['actions'][$idModule][$idController] as $idAction => $rAction):?>
                            <label style="width: 150px; float: left; cursor: pointer;" class="div-action" id_action="<?php echo $rAction['action_id']?>">
                                <input type="checkbox" <?php echo (isset($this->permissoesSelecionadas[$idAction]['allowed']) && $this->permissoesSelecionadas[$idAction]['allowed'] ? "checked" : ""); ?> value="true" id="action-<?php echo $rAction['action_id']?>" class="controller-<?php echo $rController['controller_id']?> action_item" name="action_item[<?php echo $rAction['action_id']?>]"  />
                                <?php echo $rAction['action_desc']?>
                            </label>
                        <?php endforeach;?>
                    </td>
                </tr>
                <?php endforeach;?>
                
                <?php endforeach;?>
            </tbody>
        </table>
        
        <div class="container_12">
            
             <div class="grid_4">
                 <?php if(
                        (!$this->r['id'] && $this->usuarioModel->isAllowed($this->controller, "inserir"))
                      ||($this->r['id'] && $this->usuarioModel->isAllowed($this->controller, "alterar"))
                        ):?>
                <label>&nbsp;</label>
                <input type="submit" value="Salvar" name="Salvar" class="ui-button"/>
                <?php endif;?>
            </div>
            <div class="grid_2">
                 <label>&nbsp;</label>
                <input type="button" value="Pesquisar" name="Pesquisar" onclick="cadastro.pesquisar();" class="ui-button"/>
            </div>
            
        </div>

    </form>

</div>

