<script type="text/javascript">

    var cadastro = new AppCadastro();
    
    cadastro.controller = '<?php echo $this->controller;?>';
    
    cadastro.init();
    
</script>


<div id="content" class="ui-corner-bottom">
    <h1>Cadastro de Perfil</h1>

    <div class="pages index" id="div-lista">


        <div class="painel" align="center">

            <form name="form1" method="post" action="/<?php echo $this->controller;?>/<?php echo $this->action;?>">

                <div class="container_12">
                    <div class="grid_2">
                        <label for="colaborador">Buscar por</label>
                        <select name="campo">
                            <option value="nome" <?php echo ($this->campo == 'nome' ? 'selected=""' : ''); ?> >Nome</option>
                            <option value="id" <?php echo ($this->campo == 'id' ? 'selected=""' : ''); ?> >ID</option>
                        </select>
                    </div>
                    <div class="grid_4">
                        <label for="colaborador">Filtro</label>
                        <input type="text" required name="filtro" value="<?php echo $this->filtro; ?>" id="colaborador" size="40" />
                    </div>
                    <div class="grid_2">
                        <label for="colaborador">&nbsp;</label>
                        <input type="submit" value="Buscar" name="Buscar" class="ui-button"/>
                    </div>
                    <div class="grid_2">
                        <?php if($this->usuarioModel->isAllowed($this->controller, "inserir")):?>
                        <label for="colaborador">&nbsp;</label>
                        <input type="button" value="Novo" name="Novo" onclick="cadastro.novoRegistro();" class="ui-button"/>
                        <?php endif;?>
                    </div>
                </div>    

            </form>


            <div class="clear"></div>
        </div>

        <?php if (!empty($this->paginacao['registros'])): ?>

            <table border="0">
                <thead>
                    <tr>
                        <th>ID</th>
                        
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($this->paginacao['registros'] as $key => $row): ?>
                        <tr>
                            <td style="width: 10%;"><?php echo $row['id']; ?></td>
                           
                               
                
                            <td >
                                <a href="javascript:cadastro.editar(<?php echo $row['id']; ?>);" style="display: block;" title="Editar">
                                    <?php echo $row['nome']; ?>
                                </a>
                            </td>
                            <td style="width: 10%;">
                                <a href="javascript:cadastro.editar(<?php echo $row['id']; ?>);" title="Editar">
                                    <i class="fa fa-edit fa-2x"></i> 
                                </a>
                                
<!--                                <a href="javascript:cadastro.excluir(<?php echo $row['id']; ?>);" title="Excluir">
                                    <i class="fa fa-trash fa-2x"></i> 
                                </a>-->

                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>

            <?php echo $this->paginacao['controlador']; ?>

        <?php else: ?>

            <p>
                Nenhum registro encontrado.
            </p>

        <?php endif; ?>
        
    </div>

    <div id="div-form" style="display: none;"></div>
    
    
    
</div>


