<script type="text/javascript">

    $(document).ready(function () {

        var cadastro = new AppCadastro();

        cadastro.controller = '<?php echo $this->controller; ?>';

        cadastro.init();
        
        Geral.efeitos();
        
    });

</script>
<div class="painel" align="center">

    <form name="form-cadastro" id="form-cadastro" method="post" action="/<?php echo $this->module; ?>/<?php echo $this->controller; ?>/salvar">

        <input type="hidden" name="id" value="<?php echo $this->r['id']; ?>">

      
        <div class="container_12">
 
            <div class="grid_4">
                <label>Nome</label>
                <input type="text" required name="nome" id="nome" value="<?php echo $this->r['nome']; ?>" size="40"  />
            </div>
            
            <div class="grid_4">
                <label>Descrição</label>
                <input type="text" required name="descricao" id="descricao" value="<?php echo $this->r['descricao']; ?>" size="40"  />
            </div>
        </div>

        <br />
        
        <div class="container_12">
            <div class="grid_2">
                <label>&nbsp;</label>
                <input type="submit" value="Salvar" name="Salvar" class="ui-button"/>
            </div>
            <div class="grid_2">
                <label>&nbsp;</label>
                <input type="button" value="Pesquisar" name="Pesquisar" onclick="cadastro.pesquisar();" class="ui-button"/>
            </div>
        </div>    

    </form>

</div>

