
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
        <title><?php echo APP_Util::getAppName(); ?> | Auth</title>
        <link href="/css/imagens/favicon.png" type="image/x-icon" rel="icon" />
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.16.app.css" />
        <link rel="stylesheet" type="text/css" href="/css/app-login.css" />
        <link rel="stylesheet" type="text/css" href="/css/jAlert.css" />
        
        <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery.form.min.js"></script>
        <script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
        <script type="text/javascript" src="/js/app.cadastro.js"></script>
        <script type="text/javascript" src="/js/jquery-addons/jquery.maskedinput.js"></script>
        <script type="text/javascript" src="/js/geral.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.24.custom.min.js"></script>
        <script type="text/javascript" src="/js/jAlert-functions.min.js"></script>
        <script type="text/javascript" src="/js/jAlert.min.js"></script>

    </head>
    <body>
        <div id="container">
            
            <?php echo $this->layout()->content; ?>
            
            <div id="footer">
                <a href="/" target="_blank">
                    <img src="/css/imagens/footer-logo-black.png" alt="APP" />
                </a>&copy; 2015-<?php echo date('Y')?>. <?php echo APP_Util::getAppName(); ?>. Todos os direitos reservados.		
            </div>
        </div>
    </body>
</html>