<?php $usuario = new Application_Model_Usuario();?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><?php echo APP_Util::getAppName(); ?></title>
        <link href="/css/imagens/favicon.png" type="image/x-icon" rel="icon" />
        <link rel="stylesheet" type="text/css" href="/css/jquery-ui-1.8.16.app.css" />
        <link rel="stylesheet" type="text/css" href="/css/app-default.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.ui.tabs.css" />
        <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/960.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jAlert.css" />

        <script type="text/javascript" src="/js/jquery-1.8.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery.form.min.js"></script>
        <script type="text/javascript" src="/js/loadingoverlay.min.js"></script>
        <script type="text/javascript" src="/js/app.cadastro.js"></script>
        <script type="text/javascript" src="/js/jquery-addons/jquery.maskedinput.js"></script>
        <script type="text/javascript" src="/js/geral.js"></script>
        <script type="text/javascript" src="/js/jquery-ui-1.8.24.custom.min.js"></script>
        <script type="text/javascript" src="/js/jAlert-functions.min.js"></script>
        <script type="text/javascript" src="/js/jAlert.min.js"></script>
    </head>

    <body>

      
        <div id="container">

            <div id="header">

                <div id="header-content">
                    <div id="header-logo">
                        <a href="/">
                            <img src="/css/imagens/header-logo.png" alt="Logo" height="68" widh="198" />
                        </a>	
                    </div>
                    <?php
                    $auth = new Zend_Session_Namespace('auth');
                    ?>
                    <div id="header-info">
                        <p>
                            <b>SAC</b><br>
                                <b>Usu&aacute;rio: </b><?php echo $auth->nome; ?><br>
                                    <b>Entidade: </b><?php echo $auth->entidade; ?><br>
                                        <b>Setor: </b><?php echo $auth->departamento; ?><br>
                                            </p>
                                            </div>
                                            </div>
                                            </div>
                                            </div>
        
                                            <?php 
                                            $permissaoAcl = array(
                                                'usuario' => $usuario->isAllowed("usuario", "index"),
                                                'perfil' => $usuario->isAllowed("perfil", "index")
                                            );
                                            
                                          
                                            ?>
                                            <div id="menu">
                                                <ul>
                                                    <li><a href="/" >Principal</a></li>
                                                    <?php if(implode('',array_values($permissaoAcl))): ?>
                                                    <li class="separador"></li>
                                                    <li>
                                                        <a href="javascript:void(0);" >Controle de acesso</a>
                                                        <ul>
                                                            <?php if($permissaoAcl['usuario']):?>
                                                            <li><a href="/usuario" >Usuários</a></li>
                                                            <?php endif;?>
                                                            <?php if($permissaoAcl['perfil']):?>
                                                            <li><a href="/perfil" >Perfis</a></li>
                                                            <?php endif;?>
                                                        </ul>
                                                    </li>
                                                    <?php endif; ?>
                                                    
                                                   
                                                   
                                                 
                                                     <?php if($auth->is_root): ?>
                                                    
                                                    <li class="separador"></li>
                                                    
                                                    <li>
                                                        <a href="javascript:void(0);" >ACL</a>
                                                        <ul>
                                                            <li><a href="/acl/module" >Módulo</a></li>
                                                            <li><a href="/acl/controller" >Controller</a></li>
                                                            <li><a href="/acl/action" >Action</a></li>
                                                        </ul>
                                                    </li>
                                                    <?php endif; ?>
                                                   
                                                   <li class="separador"></li>
                                                   
                                                    <li>
                                                        <a href="javascript:void(0);" >Usuário</a>
                                                        <ul>
                                                            <li><a href="/usuario/form-alterar-senha" >Alterar Senha</a></li>
                                                        </ul>
                                                    </li>
                                                   
                                                    <li class="separador"></li>
                                                    <li><a href="/auth/logout" >Sair</a>
                                                  
                                                </ul>		
                                            </div>


                                            <?php echo $this->layout()->content; ?>

                                            <div id="footer">
                                                <a href="/" target="_blank">
                                                    <img src="/css/imagens/footer-logo.png" alt="Logo" />
                                                </a>&copy; 2015 - <?php echo date("Y"); ?>. <?php echo APP_Util::getAppName(); ?> . Todos os direitos reservados.		
                                            </div>

                                            </body>
                                            </html>